.container {
    width: 960px;
    margin: 0 auto;
}
    
.footer-container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.footer-container span {
    margin-left: 45px;
}

.landingpage-container {
    width: 960px;
}

h1 {
    margin-bottom: 50px;
}
    
h2 {
    margin-bottom: 50px;
}

#offer h1 {
    margin-left: 45px;
}