.container {
    width: 740px;
    margin: 0 auto;
}

.nav-links {
    display: flex;
}
.nav-links a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-left: 45px;
    margin-right: 45px;
    font-size: 18px;
    line-height: 21px;
}

.nav-links a:nth-last-of-type(1){
    cursor: not-allowed;
    opacity: 0.6;
}

#nav-toggler {
    display: none;
}

.landingpage-container {
    width: 768px;
}

#landingpage button:hover {
    background: white;
    color: black;
}

.text-center {
    margin-left: 45px;
}

.about-worker1 {
    justify-content: space-between;
    text-align: left;
    flex-wrap: nowrap;
}

.about-worker2 {
    flex-direction: inherit;
    justify-content: space-between;
    text-align: right;
    flex-wrap: nowrap;
}
    
#offer h1 {
    font-size: 36px;
    line-height: 42px;
    padding-top: 80px;
    margin-left: 30px;
    text-align: left;
}
    
.box-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    width: 720px;
    margin: 0 auto;
}
    
.box-container > div:hover {
    transform: scale(1.05);
}
     
.footer-container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}
    
.footer-container span {
    margin-left: 45px;
}

footer a :last-of-type {
    margin-right: 25px;
}

footer a {
    margin-left: 0;
}