html {
    scroll-behavior: smooth;
}
    
body {
    font-family: 'Roboto', sans-serif;
}
    
nav {
    background: #4E4E4E;
    overflow: hidden;
}

.container {
    width: 315px;
    margin: 0 auto;
}

.nav-container {
    height: 50px;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a.active {
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
    line-height: 21px;
}

.nav-links {
    display: none;
}

#nav-toggler {
    width: 30px;
    height: 30px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

#landingpage {
    height: 100vh;
    background-image: url(https://picsum.photos/1600/1200);
    background-position: center;
    background-size: cover;
    position: relative;
}
    
.landingpage-container {
    height: 100%;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
    
.landingpage-shadow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    position: absolute;
}
    
.text-center {
    width: 60%;
    margin-left: 15px;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: white;
    margin-bottom: 20px;
}
    
h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: white;
    margin-bottom: 20px;
}

#landingpage button {
    color: white;
    background: none;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    padding: 11px 54px;
}

#about {
    height: auto;
    background: white;
}

.employees {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #152D41;
    margin: 30px 30px;
   }

.about-worker1 {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.about-worker1 span {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
    text-align: center;
}

img {
    display: flex;
    align-self: center;
    border-radius: 50%;
    margin: 25px 25px;
}

.about-worker2 {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
    
.about-worker2 span {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
    text-align: center;
}
  
#offer {
    height: auto;
    background: #405D78;
}
    
#offer h1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    padding: 60px 0;
    margin-bottom: 0px;
}
   
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-template-rows: repeat(6, 220px);
    grid-column-gap: 36px;
    grid-row-gap: 36px;
    margin: 0 50px;
}
    
.box-container > div:after {
    content: '';
    padding-bottom: 100%;
    display: block;
    background: #F1F1F1;
}
    
.box-container > div {
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.box-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.box-content span {
    font-size: 18px;
}
    
.box-new::before {
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    top: -11px;
    left: -11px;
    background: #E07A64;
    border-radius: 50%;
}

footer {
    background: #4E4E4E;
    color: white;
}
    
footer a {
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 21px;
    margin-left: 10px;
}
    
.footer-container {
    height: 80px;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
}

.footer-container span {
    font-size: 18px;
    line-height: 21px;
    padding: 5px;
}